<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.ui.popupMenus">
       <objectContribution
          adaptable="false"
          id="com.tpccn.plugin.entityselector.ui.selectEntityOnJpaContentNode"
          nameFilter="*"
          objectClass="org.eclipse.jpt.jpa.ui.JpaRootContextNodeModel">
          
			<enablement>
				<test property="org.eclipse.jpt.jpadiagrameditor.ui.jpaContentNodeFacet" value="jpt.jpa"/>
			</enablement>
       <menu
             id="com.tpccn.plugin.entityselector.ui.selectEntityJpaContentNodeMenu"
             label="选择 JPA Entity">
       </menu>
       <action
             class="com.tpccn.plugin.entityselector.ui.EntitySelectorActionDelegate"
             enablesFor="1"
             id="com.tpccn.plugin.entityselector.ui.selectEntityOnJpaContentNodeAction"
             label="选择 JPA Entity">
       </action>
    </objectContribution>
    <objectContribution
          adaptable="false"
          id="com.tpccn.plugin.entityselector.ui.selectEntityJpa"
          nameFilter="*"
          objectClass="org.eclipse.jpt.jpa.core.JpaNode">
          
			<enablement>
				<test property="org.eclipse.jpt.jpadiagrameditor.ui.jpaProjectFacet" value="jpt.jpa"/>
			</enablement>
       <menu
             id="com.tpccn.plugin.entityselector.ui.selectEntityJpaMenu"
             label="选择 JPA Entity">
       </menu>
       <action
             class="com.tpccn.plugin.entityselector.ui.EntitySelectorActionDelegate"
             enablesFor="1"
             id="com.tpccn.plugin.entityselector.ui.selectEntityJpaAction"
             label="选择 JPA Entity">
       </action>
    </objectContribution>
    <objectContribution
          adaptable="true"
          id="com.tpccn.plugin.entityselector.ui.selectEntityOnJpaProject"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
		<enablement>
			<test property="org.eclipse.wst.common.project.facet.core.projectFacet" value="jpt.jpa"/>
		</enablement>
       <action
             class="com.tpccn.plugin.entityselector.ui.EntitySelectorActionDelegate"
             enablesFor="1"
             id="com.tpccn.plugin.entityselector.ui.selectEntityOnJpaProjectAction"
             label="选择 JPA Entity"
             menubarPath="org.eclipse.jpt.jpa.ui.menu.JpaTools/content">
       </action>
    </objectContribution>
 </extension>
</plugin>
